@media (max-width:490px){
    .Kontent{
        font-size: 10px!important;
    }
}

@media (max-width:380px){
    .Kontent{
        font-size: 10px!important;
    }
}

@media (max-width:365px){
    .Kontent{
        line-height: 12px!important;
    }
}
