/* .klassic{
    height: 100%;
  }
   */

.grow {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.grow:hover {
  transform: scale(1.1);
  color: #00618E;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.button-containerKlassic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 0 3% 0;
}

@media (min-width: 1280px) {
  .standard {
    height: 96%;
  }
}
@media (max-width: 1280px){
.standard{
  height: 385px;
}
}
/* .circular-button {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  color: black;
  display: flex;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 8px;
  transition: all 0.3s ease;
  }
  
  .line {
      width: 10px;
      height: 2px;
      background-color: #000;
      margin: 26px 0px 0px 0px;
    }
  
    .circular-button.clicked {
      width: 56px;
      height: 56px;
      background-color: #7F00FF;
      color: #fff;
      margin-top: 0px;
    } */

.price {
  font-family: Archivo;
  font-weight: 800;
  font-size: 30px;
  margin-right: 18px;
  color: #000;
}

.rectangular-buttonKlasic {
  width: 70%;
  height: 2rem;
  font-family: Archivo;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 0px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid black;
  font-size: 12px;
  line-height: 0.9em;
  transition: all 0.3s ease;
  text-align: center;
}

.line {
  width: 100px;
  height: 2px;
  background-color: #000;
  /* margin: 18px 0px 0px 0px; */
}

.rectangular-buttonKlasic.clicked {
  background-color: #7f00ff;
  border: 2px solid white;
  color: white;
  width: 80%;
  height: 2.5rem;
  margin-top: -1.5%
}

.rectangular-button {
  width: 90%;
  height: 2rem;
  font-family: Archivo;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 0px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid black;
  font-size: 12px;
  line-height: 0.9em;
  transition: all 0.3s ease;
  text-align: center;
}

.rectangular-button.clicked {
  background-color: #7f00ff;
  border: 2px solid white;
  color: white;
  width: 140%;
  height: 2.5rem;
  margin-top: -1.5%
}

.line2 {
  width: 48px;
  height: 2px;
  background-color: #000;
  /* margin: 18px 0px 0px 0px; */
}

.text1 {
  font-weight: 700;
  font-size: 15px;
  padding-bottom: 2%;
}

.pro {
  color: #000;
  font-size: 17px;
  font-weight: 700;
  margin: 0 0 -20px 133px;
}

.lev {
  margin-top: -14px;
}

@media (min-width: 910px) {
  .popular {
    left: -22%;
  }
}

@media (min-width: 840px) {
  .popular {
    left: -26%;
  }
}

@media (min-width: 768px) {
  .popular {
    left: -30%;
    bottom: 10px;
  }
}

@media (max-width: 1536px) {
  .price {
    font-size: 24px;
    margin-right: 18px;
  }

  .circular-button {
    width: 35px;
    height: 35px;
  }

  .circular-button.clicked {
    width: 54px;
    height: 50px;
  }
}

@media (max-width: 1280px) {
  .price {
    font-size: 22px;
    margin-right: 18px;
  }

  .circular-button {
    width: 32px;
    height: 32px;
  }

  .circular-button.clicked {
    width: 50px;
    height: 46px;
  }
}

@media (max-width: 1102px) {
  .price {
    font-size: 19px;
    margin-right: 18px;
  }

  .circular-button {
    width: 32px;
    height: 32px;
  }

  .rectangular-button {
    width: 90%;
    height: 2rem;
    font-size: 10px;
  }

  .circular-button.clicked {
    width: 50px;
    height: 46px;
  }

  .text1 {
    font-size: 13px;
    padding-bottom: 5%;
  }

  .box {
    width: 88% !important;
  }
}

@media (max-width: 1024px) {
  .pro {
    margin: 0 0 -20px 106px;
  }
}

@media (max-width: 972px) {
  .box {
    width: 92% !important;
  }
  .pricing1{
    padding-left: 2.2rem!important;
  }
}

@media (max-width: 903px) {
  .box {
    width: 68% !important;
    height: auto !important;
  }
  .pricing1{
    padding-left: 11.2rem!important;
    grid-template-columns: repeat(1, minmax(0, 1fr))!important;
    gap: 2.5rem !important;
  }
  .pricingsecond{
    height: auto!important;
  }
  .popular1{
    top: 20px!important;
    left: -80px!important;
  }
}



@media (max-width: 780px) {
  .price {
    font-size: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 767px) {
  .standard {
    height: 48vh;
  }
}

@media (max-width: 692px) {
  .standard {
    height: 58vh;
  }
}

@media (max-width: 640px) {
  .box {
    width: 80% !important;
    height: auto !important;
  }
  .pricing1{
    padding-left: 6.2rem!important;
    grid-template-columns: repeat(1, minmax(0, 1fr))!important;
    gap: 2.5rem !important;
  }
  .pricingsecond{
    height: auto!important;
  }
  .popular1{
    top: 20px!important;
    left: -80px!important;
  }
}


@media (max-width: 484px) {
  .box {
    width: 85% !important;
    height: auto !important;
  }
  .pricing1{
    padding-left: 4.2rem!important;
    grid-template-columns: repeat(1, minmax(0, 1fr))!important;
    gap: 2.5rem !important;
  }
  .pricingsecond{
    height: auto!important;
  }
  .popular1{
    top: 20px!important;
    left: -80px!important;
  }
}

@media (max-width: 400px) {
  .box {
    width: 90% !important;
    height: auto !important;
  }
  .pricing1{
    padding-left: 2.2rem!important;
    grid-template-columns: repeat(1, minmax(0, 1fr))!important;
    gap: 2.5rem !important;
  }
  .pricingsecond{
    height: auto!important;
  }
  .popular1{
    top: 20px!important;
    left: -80px!important;
  }
}

@media (max-width:322px) {
  .standard {
    height: 52vh;
  }
}