.star1 {
    bottom: 56px;
    left: 10%;
}

.star2 {
    left: -10.7%;
    top: 53px;
}

.star3 {
    bottom: 54px;
    left: 11%;
}

.star4 {
    right: 3.8%;
    top: 48px;
}

.stars2s1 {
    bottom: 56px;
    left: 10%;
}

.stars2s2 {
    left: -10.7%;
    top: 53px;
}

.stars2s3 {
    bottom: 54px;
    left: 11%;
}

.stars2s4 {
    right: 3.8%;
    top: 48px;
}

.starpod1 {
    bottom: 56px;
    left: 11%;
}

.starpod2 {
    left: -10.7%;
    top: 53px;
}

.starpod3 {
    bottom: 54px;
    left: 11%;
}

.starpod4 {
    right: 17.8%;
    top: 50px;
}

.staredit2 {
    left: -10.7%;
    top: 53px;
}

.staredit4 {
    right: 15.8%;
    top: 58px;
}

.star21 {
    bottom: 60px;
    left: 15.1%;
}

.star22 {
    left: -8%;
    top: 60px;
}

.star23 {
    bottom: 70px;
    left: 9%;
}

.star24 {
    right: 5.8%;
    top: 58px;
}

@media (max-width: 1535px) {
    .star1 {
        bottom: 50px;
        left: 8.3%;
    }

    .star2 {
        left: -4.7%;
        top: 53px;
    }

    .star3 {
        bottom: 54px;
        left: 10%;
    }

    .star4 {
        right: 3.8%;
        top: 47px;
    }

    .staredit2 {
        left: -10.7%;
        top: 48px;
    }

    .staredit4 {
        right: 12.8%;
        top: 48px;
    }

    .star21 {
        bottom: 56px;
        left: 15.1%;
    }

    .star22 {
        left: -6%;
        top: 57px;
    }

    .star23 {
        bottom: 55px;
        left: 8%;
    }

    .star24 {
        right: 5.8%;
        top: 48px;
    }

}

@media (max-width: 1400px) {
    .star1 {
        bottom: 50px;
        left: 8.3%;
    }

    .star2 {
        left: -4.7%;
        top: 53px;
    }

    .star3 {
        bottom: 54px;
        left: 10%;
    }

    .star4 {
        right: 3.8%;
        top: 47px;
    }

    .staredit2 {
        left: -10.7%;
        top: 48px;
    }

    .staredit4 {
        right: 12.8%;
        top: 48px;
    }

    .star21 {
        bottom: 52px;
        left: 15.1%;
    }

    .star22 {
        left: -6%;
        top: 54px;
    }

    .star23 {
        bottom: 56px;
        left: 8%;
    }

    .star24 {
        right: 5.8%;
        top: 52px;
    }
}

@media (max-width: 1350px) {
    .star1 {
        bottom: 50px;
        left: 8.3%;
    }

    .star2 {
        left: -4.7%;
        top: 53px;
    }

    .star3 {
        bottom: 54px;
        left: 10%;
    }

    .star4 {
        right: 3.8%;
        top: 47px;
    }
}

@media (max-width: 1279px) {
    .star1 {
        bottom: 50px;
        left: 8.3%;
    }

    .star2 {
        left: -4.7%;
        top: 46px;
    }

    .star3 {
        bottom: 46px;
        left: 10%;
    }

    .star4 {
        right: 3.8%;
        top: 47px;
    }

    .stars2s1 {
        bottom: 50px;
        left: 7%;
    }

    .stars2s2 {
        left: -11.7%;
        top: 43px;
    }

    .stars2s3 {
        bottom: 44px;
        left: 12%;
    }

    .stars2s4 {
        right: 3.8%;
        top: 44px;
    }

    .starpod1 {
        bottom: 56px;
        left: 11%;
    }

    .starpod2 {
        left: -10.7%;
        top: 45px;
    }

    .starpod3 {
        bottom: 44px;
        left: 11%;
    }

    .starpod4 {
        right: 11.8%;
        top: 42px;
    }

    .star21 {
        bottom: 46px;
        left: 15.1%;
    }

    .star22 {
        left: -6%;
        top: 48px;
    }

    .star23 {
        bottom: 48px;
        left: 8%;
    }

    .star24 {
        right: 5.8%;
        top: 46px;
    }

}

@media (max-width: 1190px) {
    .star1 {
        bottom: 50px;
        left: 8.3%;
    }

    .star2 {
        left: -4.7%;
        top: 46px;
    }

    .star3 {
        bottom: 46px;
        left: 10%;
    }

    .star4 {
        right: 3.8%;
        top: 47px;
    }
}

@media (max-width: 1101px) {
    .star1 {
        bottom: 50px;
        left: 8.3%;
    }

    .star2 {
        left: -4.7%;
        top: 46px;
    }

    .star3 {
        bottom: 46px;
        left: 10%;
    }

    .star4 {
        right: 3.8%;
        top: 47px;
    }
}

@media (max-width: 1024px) {
    .star1 {
        bottom: 42px;
        left: 8.3%;
    }

    .star2 {
        left: -4.7%;
        top: 40px;
    }

    .star3 {
        bottom: 46px;
        left: 10%;
    }

    .star4 {
        right: 3.8%;
        top: 40px;
    }

    .stars2s1 {
        bottom: 46px;
        left: 7%;
    }

    .stars2s2 {
        left: -11.7%;
        top: 43px;
    }

    .stars2s3 {
        bottom: 40px;
        left: 12%;
    }

    .stars2s4 {
        right: 3.8%;
        top: 38px;
    }

    .starpod1 {
        bottom: 50px;
        left: 11%;
    }

    .staredit2 {
        left: -10.7%;
        top: 40px;
    }

    .staredit4 {
        right: 12.8%;
        top: 48px;
    }

    .star21 {
        bottom: 36px;
        left: 15.1%;
    }

    .star22 {
        left: -6%;
        top: 40px;
    }

    .star23 {
        bottom: 40px;
        left: 8%;
    }

    .star24 {
        right: 5.8%;
        top: 36px;
    }

    .contactDes{
        font-size: 1.35rem !important;
        line-height: 2rem !important;
    }
    .heroDes {
        padding: 0 120px !important;
        font-size: 1.35rem !important;
        line-height: 2rem !important;
    }
}

@media (max-width: 950px) {
    .star1 {
        bottom: 42px;
        left: 8.3%;
    }

    .star2 {
        left: -4.7%;
        top: 40px;
    }

    .star3 {
        bottom: 46px;
        left: 10%;
    }

    .star4 {
        right: 3.8%;
        top: 40px;
    }

    .heroDes {
        padding: 0 120px !important;
        font-size: 1.35rem !important;
        line-height: 2rem !important;
    }
}

@media (min-width: 768px) and (max-width: 879px) {
    .heroTextedit {
        font-size: 3.35rem !important;
    }
}

@media (max-width: 850px) {
    .star1 {
        bottom: 42px;
        left: 8.3%;
    }

    .star2 {
        left: -4.7%;
        top: 40px;
    }

    .star3 {
        bottom: 46px;
        left: 10%;
    }

    .star4 {
        right: 3.8%;
        top: 40px;
    }
    .heroDes {
        padding: 0 120px !important;
        font-size: 1.35rem !important;
        line-height: 2rem !important;
    }
}

@media (max-width: 768px) {
    .star1 {
        bottom: 32px;
        left: 8.3%;
    }

    .star2 {
        left: -4.7%;
        top: 34px;
    }

    .star3 {
        bottom: 38px;
        left: 10%;
    }

    .star4 {
        right: 3.8%;
        top: 30px;
    }

    .stars2s1 {
        bottom: 38px;
        left: 9%;
    }

    .stars2s2 {
        left: -11.7%;
        top: 40px;
    }

    .stars2s3 {
        bottom: 34px;
        left: 12%;
    }

    .stars2s4 {
        right: 3.8%;
        top: 32px;
    }

    .starpod1 {
        bottom: 36px;
        left: 11%;
    }

    .starpod2 {
        left: -10.7%;
        top: 35px;
    }

    .starpod3 {
        bottom: 34px;
        left: 11%;
    }

    .starpod4 {
        right: 11.8%;
        top: 34px;
    }

    .staredit2 {
        left: -10.7%;
        top: 32px;
    }

    .staredit4 {
        right: 12.8%;
        top: 36px;
    }

    .star21 {
        bottom: 30px;
        left: 15.1%;
    }

    .star22 {
        left: -6%;
        top: 32px;
    }

    .star23 {
        bottom: 32px;
        left: 8%;
    }

    .star24 {
        right: 5.8%;
        top: 30px;
    }

    .heroDes {
        padding: 0 120px !important;
        font-size: 1.35rem !important;
        line-height: 2rem !important;
    }
}

@media (max-width: 700px) {
    .heroDes {
        padding: 0 90px !important;
    }
}

@media (min-width: 640px) and (max-width: 690px) {
    .heroTextedit {
        font-size: 2.5rem !important;
    }
}

@media (max-width: 640px) {
    .star1 {
        bottom: 22px;
        left: 13.3%;
    }

    .star2 {
        left: -4.7%;
        top: 28px;
    }

    .star3 {
        bottom: 30px;
        left: 14%;
    }

    .star4 {
        right: 3.8%;
        top: 25px;
    }

    .stars2s1 {
        bottom: 30px;
        left: 12%;
    }

    .stars2s2 {
        left: -11.7%;
        top: 34px;
    }

    .stars2s3 {
        bottom: 24px;
        left: 12%;
    }

    .stars2s4 {
        right: 3.8%;
        top: 24px;
    }

    .starpod1 {
        bottom: 28px;
        left: 11%;
    }

    .starpod2 {
        left: -10.7%;
        top: 24px;
    }

    .starpod3 {
        bottom: 24px;
        left: 11%;
    }

    .starpod4 {
        right: 11.8%;
        top: 24px;
    }

    .staredit1 {
        bottom: 22px;
        left: 11.3%;
    }

    .staredit2 {
        left: -10.7%;
        top: 26px;
    }

    .staredit3 {
        bottom: 22px;
        left: 14%;
    }

    .staredit4 {
        right: 12.8%;
        top: 28px;
    }

    .star21 {
        bottom: 20px;
        left: 15.1%;
    }

    .star22 {
        left: -6%;
        top: 20px;
    }

    .star23 {
        bottom: 22px;
        left: 8%;
    }

    .star24 {
        right: 5.8%;
        top: 20px;
    }

    .heroText {
        font-size: 48px !important;
    }

    .heroTextedit {
        font-size: 38px !important;
    }

    .heroDes {
        padding: 0 50px;
        font-size: 1.35rem !important;
        line-height: 2rem !important;
    }
}

@media (max-width: 530px) {
    .heroDes {
        padding: 10px 56px !important
    }
}

@media (min-width: 480px) and (max-width: 540px) {
    .heroTextedit {
        font-size: 30px !important;
    }
}

@media (max-width: 480px) {
    .heroText {
        font-size: 38px !important;
    }

    .heroTextedit {
        font-size: 26px !important;
    }

    .staredit1 {
        bottom: 22px;
        left: 11.3%;
    }

    .staredit2 {
        left: -10.7%;
        top: 26px;
    }

    .staredit3 {
        bottom: 22px;
        left: 14%;
    }

    .staredit4 {
        right: 12.8%;
        top: 24px;
    }

    .heroDes {
        padding: 10px;
        font-size: 1.35rem !important;
        line-height: 2rem !important;
    }

}


@media (max-width: 360px) {
    .star1 {
        bottom: 22px;
        left: 13.3%;
    }

    .star2 {
        left: -7.7%;
        top: 28px;
    }

    .star3 {
        bottom: 25px;
        left: 14%;
    }

    .star4 {
        right: 6.8%;
        top: 25px;
    }


    .stars2s1 {
        bottom: 20px;
        left: 12%;
    }

    .stars2s2 {
        left: -14.7%;
        top: 28px;
    }

    .stars2s3 {
        bottom: 24px;
        left: 12%;
    }

    .stars2s4 {
        right: 8.8%;
        top: 24px;
    }

    .staredit1 {
        bottom: 22px;
        left: 11.3%;
    }

    .staredit2 {
        left: -10.7%;
        top: 26px;
    }

    .staredit3 {
        bottom: 22px;
        left: 14%;
    }

    .staredit4 {
        right: 12.8%;
        top: 22px;
    }

    .heroText {
        font-size: 34px !important;
    }

    .heroTextedit {
        font-size: 22px !important;
    }

    .contactDes{
        font-size: 1.15rem !important;
        line-height: 2rem !important;
    }

    .heroDes {
        font-size: 1.15rem !important;
        line-height: 2rem !important;
    }
}

@media (max-width: 332px) {
    .heroText {
        font-size: 31px !important;
    }

    .heroTextedit {
        font-size: 19px !important;
    }
}