.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}


.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 545px!important;
    background: #FFFFFF;
    box-shadow: 2px 4px 40px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.slider .profile-sec img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.profile-sect {
    padding: 0px 50px;
    width: 495px;
    height: 160px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;

}

.profile-sec {
    display: flex;
    gap: 16px;
}

.swiper-button-prev{
    margin-left: 5%!important;
}
.swiper-button-next{
    margin-right: 5%!important;
}

.swiper-button-prev:after{
    content: url(../assets/img/Vectorprev.png) !important;  
}
.swiper-button-prev:before{
    content: url(../assets/img/Vectorprev.png) !important;  
}

.swiper-button-next:after{
    content: url(../assets/img/Vectornext.png) !important;
}
.swiper-button-next:before{
    content: url(../assets/img/Vectornext.png) !important;
}


@media only screen and (max-width:1024px){
    .slider {
        width: 505px!important;  
    }
}

@media only screen and (max-width:940px){
    .swiper-button-prev{
        display: none!important;
    }
    .swiper-button-next{
        display: none!important;
    }
}

@media only screen and (max-width:600px){
    .slider {
        width: 405px!important;  
        height: 230px!important;
    }
    .profile-content {
        width: 335px;
    }
}

@media only screen and (max-width:480px){
    .slider {
        width: 350px!important;
        height: 230px!important;  
    }
    .profile-content {
        width: 295px;
    }
}

@media only screen and (max-width:400px){
    .slider {
        width: 320px!important;
        height: 180px!important;   
    }
    .profile-sect {
        padding: 6px 20px;
    }
    
    .slider .profile-sec img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .profile-content {
        width: 290px;
    }
}
@media only screen and (max-width:350px){
    .slider {
        width: 280px!important;
        height: 180px!important;   
    }
    .profile-sect {
        padding: 6px 10px;
    }
    
    .slider .profile-sec img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .profile-content {
        width: 260px;
    }
}
