.ceaser{
    margin-top: -13.5%;
     margin-left: 29.5%;
}
.Rocket{
    margin-left: 68%;
    margin-top: -4%;
}
.Vector{
    margin-left: 38%;
    margin-top: 8%; 
}
.Hand{
    margin-left: 58%;
    margin-top: -3%; 
}

.mask1{
    margin-top: -50%;
}

.mask2{
    margin-top: -30%;
}
.reldiv{
    width: 394px;
}

.iphone1{
    width: 394px;
}

.videodiv{
    border-radius: 40px;
}

.videodiv1{
    width: 370px;
    /* margin-left: 3.2%;
    margin-top: 2%; */
}

.videodiv2{
    width: 370px;
    /* margin-left: 3.2%;
    margin-top: 1.5%; */
}

.rocket-container {
    position: relative;
    transition: all 0.3s linear;
  }
  
  .Rocket.animate {
    transform: translate(20px, -20px);  
  }

@media (max-width: 1536px){
    .ceaser{
        margin-top: -13.5%;
         margin-left: 29.5%;
    }
    .Rocket{
        margin-left: 68%;
        margin-top: -4%;
    }
    .Vector{
        margin-left: 38%;
        margin-top: 8%; 
    }
    .Hand{
        margin-left: 58%;
        margin-top: -3%; 
    }
}
@media (max-width: 1436px){
    .ceaser{
        margin-top: -15.5%;
         margin-left: 27.5%;
    }
    .Rocket{
        margin-left: 70%;
        margin-top: -4%;
    }
    .Vector{
        margin-left: 37%;
        margin-top: 7.5%; 
    }
    .Hand{
        margin-left: 59%;
        margin-top: -3%; 
    }
}

@media (max-width: 1374px){
    .ceaser{
        margin-top: -16%;
         margin-left: 24%;
    }
    .Rocket{
        margin-left: 72%;
        margin-top: -5%;
    }
    .Vector{
        margin-left: 35%;
        margin-top: 10%; 
    }
    .Hand{
        margin-left: 61%;
        margin-top: -5%; 
    } 
}

@media (max-width: 1280px){
    .ceaser{
        margin-top: -16%;
         margin-left: 24%;
    }
    .Rocket{
        margin-left: 72%;
        margin-top: -5%;
    }
    .Vector{
        margin-left: 35%;
        margin-top: 10%; 
    }
    .Hand{
        margin-left: 61%;
        margin-top: -5%; 
    } 
}

@media (max-width: 1224px){
    .ceaser{
        margin-top: -18%;
         margin-left: 24%;
    }
    .Rocket{
        margin-left: 72%;
        margin-top: -5%;
    }
    .Vector{
        margin-left: 35%;
        margin-top: 10%; 
    }
    .Hand{
        margin-left: 61%;
        margin-top: -5%; 
    }

    .iphone1{
        width: 344px;
    }

    .videodiv1{
        width: 320px;
        /* margin-left: 3.5%;
        margin-top: 2%; */
    }
    
    .videodiv2{
        width: 320px;
        /* margin-left: 3.5%;
        margin-top: 1.8%; */
    }
}

@media (max-width: 1124px){
    .ceaser{
        margin-top: -18%;
         margin-left: 15%;
    }
    .Rocket{
        margin-left: 82%;
        margin-top: -5%;
    }
    .Vector{
        margin-left: 28%;
        margin-top: 10%; 
    }
    .Hand{
        margin-left: 68%;
        margin-top: -6%; 
    }
}

@media (max-width: 1024px){
    .ceaser{
        margin-top: -20%;
         margin-left: 15%;
    }
    .Rocket{
        margin-left: 82%;
        margin-top: -5%;
    }
    .Vector{
        margin-left: 28%;
        margin-top: 14%; 
    }
    .Hand{
        margin-left: 68%;
        margin-top: -6%; 
    } 

    .reldiv {
        width: 364px;
    }
}

@media (max-width:967px){
    .iphone1{
        width: 294px;
    }
    .iframe{
        height: 9rem!important;
    }

    .videodiv1{
        width: 270px;
        /* margin-left: 3.8%;
        margin-top: 4%; */
    }
    
    .videodiv2{
        width: 270px;
        /* margin-left: 4.5%;
        margin-top: 2.2%; */
    }
}

@media (max-width: 940px){
    .ceaser{
        margin-top: -24%;
         margin-left: 12%;
    }
    .Rocket{
        margin-left: 82%;
        margin-top: -5%;
    }
    .Vector{
        margin-left: 28%;
        margin-top: 14%; 
    }
    .Hand{
        margin-left: 68%;
        margin-top: -6%; 
    } 
}

@media (max-width: 855px){
    .ceaser{
        margin-top: -24%;
         margin-left: 12%;
    }
    .Rocket{
        margin-left: 82%;
        margin-top: -5%;
    }
    .Vector{
        margin-left: 28%;
        margin-top: 12%; 
    }
    .Hand{
        margin-left: 68%;
        margin-top: -6%; 
    } 
    .reldiv {
        width: 352px;
    }
    .iphone1{
        width: 264px;
    }
    .iframe{
        height: 8rem!important;
    }

    .videodiv1{
        width: 240px;
        /* margin-left: 4.4%;
        margin-top: 4%; */
    }
    
    .videodiv2{
        width: 240px;
        /* margin-left: 5.2%;
        margin-top: 2.5%; */
    }
}

@media (max-width: 768px){
    .ceaser{
        margin-top: -20%;
         margin-left: 12%;
    }
    .Rocket{
        margin-left: 82%;
        margin-top: -5%;
    }
    .Vector{
        margin-left: 28%;
        margin-top: 9%; 
    }
    .Hand{
        margin-left: 68%;
        margin-top: -6%; 
    } 
    .iphone1{
        width: 344px;
    }

    .videodiv1{
        width: 320px;
        /* margin-left: 4%;
        margin-top: 2%; */
    }
    
    .videodiv2{
        width: 320px;
        /* margin-left: 4%;
        margin-top: 2%; */
    }
    .midvid{
        margin: 5%;
    }
}


@media (max-width: 710px){
    .ceaser{
        margin-top: -20%;
         margin-left: 8%;
    }
    .Rocket{
        margin-left: 86%;
        margin-top: -5%;
    }
    .Vector{
        margin-left: 28%;
        margin-top: 12%; 
    }
    .Hand{
        margin-left: 68%;
        margin-top: -6%; 
    }  
    .mask1{
        margin-top: -80%;
    }

    .mask2{
        margin-top: -50%;
    }
}

@media (max-width: 640px){
    .ceaser{
        margin-top: -20%;
         margin-left: 8%;
    }
    .Rocket{
        margin-left: 86%;
        margin-top: -5%;
    }
    .Vector{
        margin-left: 28%;
        margin-top: 12%; 
    }
    .Hand{
        margin-left: 68%;
        margin-top: -6%; 
    }   
    .iphone1{
        width: 284px;
    }

    .videodiv1{
        width: 270px;
        /* margin-left: 5%;
        margin-top: 2%; */
    }
    
    .videodiv2{
        width: 270px;
        /* margin-left: 5%;
        margin-top: 2%; */
    } 
}

@media (max-width: 600px){
    .ceaser{
        margin-top: -24%;
         margin-left: 8%;
    }
    .Rocket{
        margin-left: 86%;
        margin-top: -5%;
    }
    .Vector{
        margin-left: 28%;
        margin-top: 15%; 
    }
    .Hand{
        margin-left: 68%;
        margin-top: -6%; 
    }   
}

@media (max-width: 540px){
    .ceaser{
        margin-top: -28%;
         margin-left: 8%;
    }
    .Rocket{
        margin-left: 86%;
        margin-top: -5%;
    }
    .Vector{
        margin-left: 28%;
        margin-top: 15%; 
    }
    .Hand{
        margin-left: 68%;
        margin-top: -6%; 
    }  
}

@media (max-width: 490px){
    .ceaser{
        margin-top: -30%;
         margin-left: 12%;
    }
    .Rocket{
        margin-left: 82%;
        margin-top: -6%;
    }
    .Vector{
        margin-left: 26%;
        margin-top: 20%; 
    }
    .Hand{
        margin-left: 68%;
        margin-top: -8%; 
    }  
}



@media (max-width: 420px){
    .ceaser{
        margin-top: -38%;
         margin-left: 7%;
    }
    .Rocket{
        margin-left: 86%;
        margin-top: -7%;
    }
    .Vector{
        margin-left: 23%;
        margin-top: 24%; 
    }
    .Hand{
        margin-left: 72%;
        margin-top: -7%; 
    } 
    
    .reldiv{
        width: 300px;
    }
    
   
}

@media (max-width: 360px){
    .ceaser{
        margin-top: -42%;
         margin-left: 5%;
    }
    .Rocket{
        margin-left: 89%;
        margin-top: -7%;
    }
    .Vector{
        margin-left: 20%;
        margin-top: 24%; 
    }
    .Hand{
        margin-left: 74%;
        margin-top: -5%; 
    } 
}

@media (max-width: 330px){
    .ceaser{
        margin-top: -44%;
         margin-left: 5%;
    }
    .Rocket{
        margin-left: 89%;
        margin-top: -8%;
    }
    .Vector{
        margin-left: 22%;
        margin-top: 18%; 
    }
    .Hand{
        margin-left: 70%;
        margin-top: -5%; 
    }  
}