body{
    overflow-x: hidden;
    background-color: black;
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar {
    width: 7px;
  
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7F00FF;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ad69f1;
  }

  /* styles.css */

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.full-screen-scroll {
  height: 100vh;
  width: "100%";
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.section{ 
  width: "100%"; 
  scroll-snap-align: start;
}

