body{
    overflow-x: hidden;
    background-color: black;
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    color: transparent;
    background-color: transparent;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7F00FF;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ad69f1;
  }

  .fade{
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}
  .fadef{
    animation: fadef linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
}

@keyframes fadef {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }
}

